<div class="navigation2">

    <div class="divInner1" >
    
        <img src="../static/images/awsjack.png" alt="AWSJack" width="150" height="50" />
        
    </div>
    <div class="divInner2" >
     <a  style="font-size: larger;" rel="noopener noreferrer" target='_blank' href="mailto:vivek@devopswork.in">

        Feedback
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <a rel="noopener noreferrer" target='_blank' href="https://github.com/viveknangal/awsjack">
      
        Github ⭐
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <a rel="noopener noreferrer" target='_blank' href="https://github.com/viveknangal/awsjack/issues">
      
        Issue 
      </a>
      
  </div>
    </div>